<a href="https://colab.research.google.com/github/shitzkhn/Recommendation-System/blob/master/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [18]:
data=pd.read_csv('books.csv',sep=',',error_bad_lines=False)

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

In [19]:
data.head()

   bookID  ...        publisher
0       1  ...  Scholastic Inc.
1       2  ...  Scholastic Inc.
2       4  ...       Scholastic
3       5  ...  Scholastic Inc.
4       8  ...       Scholastic

[5 rows x 12 columns]